.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    z-index: 200;
}

.button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.back {
    padding: 17px 43px;
    border-radius: 50px 0px;
    background: var(--secondary-color);
    color: #fff;
    text-align: center;
    font-family: "Zen Loop";
    font-size: 48px;
    display: block;
    justify-self: center;
}

.title {
    padding-bottom: calc(var(--pb-m) * 5);
}
