.footer {
    margin-top: auto;
    background: var(--primary-color);
    padding: 96px 0;
    display: grid;
    place-items: center;
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;

    svg {
        object-fit: cover;
    }
}

.logoContainer {
    position: relative;
}

.content {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--pb-m);
}

.link {
    justify-self: end;
    padding-right: 10px;
    color: white;
}
