.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-bottom: var(--pb-m);
    font-family: "Be Vietnam Pro";
    font-size: 16px;
}

.link {
    color: black;
}

.button {
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    color: blue;
}
